.greeting {
    display: flex;
    align-items: flex-start;
}

.error {
    color: red;
    height: 20px;
    margin-left: 10px;
}

.input {
    margin: 5px;
    background: white;
    color: green;
}

.errorInput {
    margin: 5px;
    background: white;
    color: green;
    border: 2px solid red;
}

.button {
    margin: 5px;
    width: 60px;
    background: blue;
    color: white;
}

.count {
    margin: 5px;
}